*{
    margin:-2px;
    padding:0;
    box-sizing:border-box;
    font-family: 'Comfortaa', cursive;
    line-height: .5 rem;
    
}

body{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: rgb(5, 30, 85);
    
}

.container{
width: 200%;
    background-color: rgb(196, 234, 252);
    padding: 25px 30px;
    border-radius: 0px 10px 10px 0px;
   
}

.container form .user-details{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 10px 0 12px 0;

}

.containerbody
{
    display: inline-flex;
    height:80%;
    width:70%;
    background-color: white;
    border-radius:20px ;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#docimg
{
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    width: 55%;
}

form .user-details .input-box{
    width: calc(100%/2 -20px);
    margin-bottom:15px;
}

.user-details .input-box .details{
    display:block;
    font-weight: 500;
    margin-bottom: 8px;
}

.user-details .input-box input{

    height: 2.5rem;
    width: 100%;
    outline: none;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1em;
    
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:focus:valid{
    border-color:#037718;

}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

h2{
    
    text-align: center;
    font-weight: bold;
}

form .gender-details .category{
    display:flex;
    width:80%;
    margin:14px 0;
    justify-content: space-between;
}

.gender-details .category label{
    display:flex;
}

.gender-details .category .dot{
    height:18px;
    width: 18px;
    background:#dedede;
    border-radius:50%;
    margin-right:10px;
    border:4px solid transparent;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color:#034702;
    background: linear-gradient(rgb(92, 202, 92),rgb(142, 237, 142));
}

/* form{
    margin-top: 4rem;
} */
form input[type="radio"]{
    display:none;
}

form .button{
    height: 45px;
    margin:45px 0;
}

form .button input{
    height: 80%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 15px;
    letter-spacing: 1px;
    background-color: #345fb7;
}

form .button input:hover{
    background: linear-gradient(135deg,#e4a110,rgb(230, 178, 9));
}

#createAccountTag
{
    font-size: .8rem;
    display: flex;
    justify-content: center;
}

#formHead
{
    font-size: 2rem;
    margin-top: 5%;
}

/* media queries */
/* @media (max-width: 1200px) {
.containerbody{
    display: flex;
    justify-content: space-between;
    display: inline-flex;
    height: 70%;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    justify-content: center;

}

#docimg
{
    background-color: white;
    border-radius: 20px;
    height: 90%;
    width: 50%;
}

.container{
    width: 50%;
    height: 100%;
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    background-color: rgb(252, 234, 196);
    padding: 25px 30px;
    border-radius: 0px 10px 10px 0px;
}

.user-details .input-box .details {
display: flex;
font-weight: 500;
margin-bottom: 5px;
}
}

@media (max-width: 1400px) {
    .containerbody{
        display: flex;
        justify-content: space-between;
        display: inline-flex;
        height: 70%;
        width: 80%;
        background-color: white;
        border-radius: 20px;
        justify-content: center;
    
    }
    
    #docimg
    {
        width: 50%;
        height: 95%;
    }
    
    .container{
        width: 100%;
    }
    
    .user-details .input-box .details {
    display: flex;
    font-weight: 500;
    margin-bottom: 5px;
    }
    } */